ul{
    list-style: none;
}

.navbar{
    background-color: #222222;
}
.navbar-collapse{
    flex-grow: inherit;
}
.jumbotron{
    color: #ffffff;
    background-color: #222222;
    height: 450px;
    border-radius: 0px;
}
.footer{
    padding: 20px 0px;
    color: #ffffff;
    background-color: #222222;
    border-radius: 0px;
    color: #f4f4f4;
}
.footer a{
    color:#bebebe;
}
.barra{
    color: #ffffff;
    background-color: #222222;
    height: 250px;
    border-radius: 0px;
}
.btn{
    border-radius: 50px;
}
.card{
    border: inherit;
}
.user{
    width: 80px;
    border-radius: 50px;
    margin: 15px;
}

@media (max-width: 768px) {
    .jumbotron{
        text-align: center;
        color: #ffffff;
        background-color: #222222;
        height: 700px;
    }
  }